feedback-widget img.icon {
  width: 40px;
  height: 40px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
feedback-widget img.icon.active {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.modal-bc {
  margin-bottom: 0px;
  padding: 3px 4px;
}


#feedback-tab {
    position: fixed;
    top: 50%;
    right: -35px;
}


.rotate-text--90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
