{% load static %}
{% include 'feedback/feedback.html' %}


<div>Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Kiss">Kiss</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
